@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo{
 /*  margin-left:1rem; */
  margin-bottom: rem;
  display: block;
}


#footerEnd {
  padding-top:7rem;
}

a {
  font-weight: 300;
  color: #646cff;
  text-decoration: inherit;
  font-size: 1.5rem;
  padding-bottom: 5rem;
  /*border: solid 1px red;*/
}

.flex-fill {
  padding-top: 1rem;
}

.containerInfos{

}
a:hover {
  color: #535bf2;
  text-decoration: underline;
}

body {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  
  min-width: 320px;
  min-height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 /*  background-color: #f2f2f2; */
  padding: 10px;
}

.navbar-links {
  display: flex;
  align-items: center;
 
}

.navbar-links ul {
  list-style: none;
  padding: 1.5em;
  margin: 0;
  display: flex;
  /* border: #535bf2 solid; */
  border-radius: 5px;
  gap: 2em;
}

.navbar-links li {
  margin-right: 10px;
}
.navbar-links li:hover{
  text-decoration: underline;
}

.navbar-links a {
  text-decoration: none;
 /*  color: #333; */
}
.styled-input {
  background-color: #f2f2f2;
  border: 2px solid  #535bf28a;;
  border-radius: 20px;
  padding: 13px;
  font-size: 15px;
  width: 200px;
  margin-left: 5em;
  color:#444df6;
  
}

.styled-input:focus {
  outline: none;
  border-color:  #444df6;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button[type="login"] {
  margin-left: 7em;
  border-radius: 20px;
}

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 0.1;
  margin-left: 1rem;
  padding-bottom: 3rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.containerItems {
  display: flex;
  justify-content: start;
  justify-items: ;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
